[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "~=0.4.4"
enlighten = "~=1.8.0"
requests = "~=2.32.2"
selenium = "~=3.141.0"

[dev-packages]
ipython = "~=7.21.0"

[requires]
python_version = "3.9"

[scripts]
scrape = "python3 -m scrape"
